<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ systemName }} | {{ titleText }}</title>

    <script>
        {{#if (inProd) }}
            _ENVIROMENT = 'production';
            console.log = () => { return; };
        {{ else }}
            _ENVIROMENT = 'development';
            console.log('render uuid: {{ uuidv4 }}')
        {{/if }}
    </script>

    <script src="/assets/js/utils.js"></script>
    <link rel="stylesheet" href="/assets/css/style.min.css">

    <!--
        This style must be kept inline to prevent FOUC of the loader, this loader is used to
        show the user that the page is still loading, it is hidden when the page is fully loaded
        (really it just means the style sheet hasnt loaded yet, but it's a good enough indicator)
    -->

    <style>
        .preloader-container {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .preloader {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: relative;
            animation: rotate 1s linear infinite
        }

        .preloader::before,
        .preloader::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #2a2a2a;
            animation: prixClipFix 2s linear infinite;
        }

        .preloader::after {
            transform: rotate3d(90, 90, 0, 180deg);
            border-color: '{{systemColour}}';
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }

        @keyframes prixClipFix {
            0% {
                clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
            }
            50% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
            }
            75%,
            100% {
                clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
            }
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3/dist/tippy.umd.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tippy.js@6.3/dist/tippy.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/toastr2@3.0.0-alpha.18/dist/Toastr.umd.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/toastr2@3.0.0-alpha.18/dist/toastr.min.css" rel="stylesheet">

    <script>const notify = new toastr({"closeButton": true,"debug": {{#if (inProd) }} false{{else}} true{{/if }},"newestOnTop": false,"progressBar": true,"positionClass": "toast-top-right","preventDuplicates": true,"onclick": null,"showDuration": "300","hideDuration": "1000","timeOut": "5000","extendedTimeOut": "1000","showEasing": "swing","hideEasing": "linear","showMethod": "fadeIn","hideMethod": "fadeOut"});</script>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/assets/js/sw.js').then(function (registration) {
                    console.log('SW with scope: ', registration.scope);
                }, function (err) {
                    console.log('SW failed: ', err);
                });
            });
        }
    </script>

</head>

<body>

    <noscript>
        <div class="fixed w-screen h-screen bg-white top-0 left-0 z-[10000]">
            JavaScript is currently disabled. Please enable it to proceed using this {{ systemName }}.
        </div>
    </noscript>

    <div class="preloader-container"><span class="preloader"></span></div>

    <div style="display: none;" class="!flex w-screen h-screen overflow-y-hidden">
        <div class="hidden md:block fixed md:static z-20">
            <nav class="flex relative w-fit h-full" id="sidebar">
                <div
                    class="flex h-screen flex-col justify-between border-e bg-white w-72 md:w-[5.5rem] lg:w-72 z-10">
                    <div class="px-4 py-6">
                        <span class="flex place-content-center rounded-md h-[48.03px] lg:h-[51.68px]">
                        </span>

                        <ul class="mt-6 space-y-1">
                            <li class="group relative">
                                <a href="/dashboard"
                                    class="group flex gap-2 place-items-center rounded-md px-4 py-2 text-sm font-medium {{#if (eq titleText 'Dashboard') }} text-gray-700 bg-gray-100 {{else}}text-gray-500 hover:bg-gray-100 hover:text-gray-700{{/if }}">
                                    <svg class="w-5 group-hover:text-rooted {{#if (eq titleText 'Dashboard') }}text-rooted{{/if }}" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                    </svg>
                                    <span class="block md:hidden lg:block">Dashboard</span>
                                </a>
                                <span
                                    class="lg:hidden invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">
                                    Dashboard
                                </span>
                            </li>

                            <li class="group relative">
                                <a href="/orders"
                                    class="group flex gap-2 place-items-center rounded-md px-4 py-2 text-sm font-medium {{#if (eq titleText 'Orders')}} text-gray-700 bg-gray-100 {{else}}text-gray-500 hover:bg-gray-100 hover:text-gray-700{{/if }}">
                                    <svg class="w-5 group-hover:text-rooted  {{#if (eq titleText 'Orders') }}text-rooted{{/if}}" xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                        <path d="M16 10a4 4 0 0 1-8 0"></path>
                                    </svg>
                                    <span class="block md:hidden lg:block">Orders</span>
                                </a>
                                <span
                                    class="lg:hidden invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">
                                    Orders
                                </span>
                            </li>

                            <li class="group relative">
                                <a href="/inventory"
                                    class="group flex gap-2 place-items-center rounded-md px-4 py-2 text-sm font-medium {{#if (eq titleText 'Inventory')}} text-gray-700 bg-gray-100 {{else}} text-gray-500 hover:bg-gray-100 hover:text-gray-700{{/if}}">
                                    <svg class="w-5 group-hover:text-rooted  {{#if (eq titleText 'Inventory')}}text-rooted{{/if}}" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                                        <path
                                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                                        </path>
                                        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                        <line x1="12" y1="22.08" x2="12" y2="12"></line>
                                    </svg>
                                    <span class="block md:hidden lg:block">Inventory</span>
                                </a>
                                <span
                                    class="lg:hidden invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">
                                    Inventory
                                </span>
                            </li>

                        </ul>
                    </div>

                    <div class="sticky inset-x-0 bottom-0 border-t border-gray-100 group relative">
                        <a href="/account" class="no-underline text-inherit">
                            <div class="flex items-center gap-2 bg-white p-5 px-5 lg:px-8">
                                <img alt="" src="{{ getUserProfilePicture }}"
                                    class="size-10 rounded-full object-cover mx-0 md:mx-auto lg:mx-0" />
                                <div class="text-xs block md:hidden lg:block">
                                    <div class="block">
                                        <div class="flex gap-2 place-items-center">
                                            <strong class="block text-sm font-medium">{{ getUserName }}</strong>
                                            {{#if (isUserAdmin) }}
                                            <a href="/admin"
                                                class="whitespace-nowrap rounded-full bg-rooted/[.3] px-2.5 py-0.5 text-xs text-rooted/[.8]">
                                                admin
                                            </a>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <span> {{ getUserEmail }} </span>
                                </div>
                            </div>
                        </a>
                        <span
                            class="w-max hidden md:block lg:hidden invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible">
                            Logged in as {{ getUserName }} ({{ getUserEmail }})
                        </span>
                    </div>
                </div>

            </nav>
        </div>

        <div class="block md:hidden">
            <div class="hidden w-screen h-screen bg-black/[.7] fixed top-0 left-0 z-10"
                id="mobile-sidebar-blackout"></div>
        </div>

        <div class="flex flex-col w-full h-full">
            <div class="w-full border-b p-4 md:p-6 h-[81px] flex justify-between place-items-center">
                <h1 class="text-2xl font-semibold">
                    {{ titleText }}
                </h1>
                <button class="block md:hidden" id="open-sidebar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-sidebar">
                        <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="9" y1="3" x2="9" y2="21"></line>
                    </svg>
                </button>
            </div>
            <main class="p-4 md:p-6 w-full h-[calc(100vh-81px)] overflow-y-auto bg-gray-100/[.4]">
                {{{ body }}}
            </main>
        </div>
    </div>
    
</body>

</html>